<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.amaniui">

  <uses-permission android:name="android.permission.INTERNET" />

  <application
    android:label="ReactApp"
    android:name="com.amaniui.ReactApp">
    <activity
      android:name="com.amaniui.AmaniActivity"
      android:screenOrientation="portrait"
      android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
    </activity>
  </application>

</manifest>
